:root {
  --main-color: #046dcc;
  --second-color: #046dcc;
  --bright-color: #6e4aad;
  --darker-color: #2f4858;
  --lighter-color: white;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-style: oblique;
  margin: 0px;
  text-align: justify;
  background-image: linear-gradient(
    to right top,
    #2b14c6,
    #293cd3,
    #3458dc,
    #4871e2,
    #6089e6,
    #5a9cef,
    #5daef4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

header {
  height: auto;
  width: 100%;
  /* overflow: hidden; pour que la carte ne dépasse pas du header */
}

.mainTitle {
  position: absolute;
  padding: 20px;
  font-size: 40px;
  color: var(--lighter-color);
  text-shadow: 0.1em 0.1em #333;
  z-index: 2;
}

svg {
  cursor: move;
}
path,
ellipse,
rect {
  fill: transparent;
}

path:hover,
ellipse:hover,
rect:hover {
  fill: yellow;
}

ul {
  padding: 0px;
  margin-bottom: 30px;
  border: 0px;
  list-style-type: none;
  background-color: var(--lighter-color);
  color: var(--main-color);
  display: flex;
  justify-content: space-evenly;
}

li {
  display: inline;
  text-align: center;
  padding: 10px;
}

li:hover {
  background-color: var(--second-color);
  color: var(--lighter-color);
  cursor: pointer;
}

/**************************************************************************
** MAP
**************************************************************************/
/*.map {
  position: relative;
  width: 100%;
}
 */
img.marker {
  height: 20px;
}

img#zone1-map {
  position: relative;
  left: 870px;
  top: 160px;
}

img#zone2-map {
  position: relative;
  left: 750px;
  top: 140px;
}

img#zone3-map {
  position: relative;
  left: 705px;
  top: 130px;
}

img#zone4-map {
  position: relative;
  left: 620px;
  top: 240px;
}

/**************************************************************************
** SECTION CAROUSEL
**************************************************************************/
.photos {
  display: flex;
  width: 100%;
  justify-content: center;
}

.carousel {
  position: relative;
  width: 55vw;
  border-radius: 10px;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 8px 8px 4px -3px rgba(0, 0, 0, 0.7);
}

.carousel-container {
  display: flex;
  position: relative;
  width: 100%;
  animation: carousel 10s ease-in-out infinite;
}

.carousel-container-img {
  width: 100%;
}

@keyframes carousel {
  0%,
  20% {
    transform: translateX(0);
  }
  25%,
  45% {
    transform: translateX(-55vw);
  }
  50%,
  70% {
    transform: translateX(-110vw);
  }
  75%,
  95% {
    transform: translateX(-165vw);
  }

  100% {
    transform: translateX(-220vw);
  }
}

#name-area {
  font-size: 30px;
  color: var(--bright-color);
  text-align: center;
}

.area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  /*display: inline-block;*/
  display: none;
  text-align: center;
  background-color: var(--lighter-color);
  margin: 30px;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 8px 8px 4px -3px rgba(0, 0, 0, 0.7);
}

.category-square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-title {
  text-align: center;
  color: var(--darker-color);
}

.category-img {
  width: 80%;
  height: 40%;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 6px 6px 3px -2px rgba(0, 0, 0, 0.7);
}

.category-description {
  width: 90%;
  height: 40%;
  margin: 10px;
  padding: 5px;
  background-color: var(--lighter-color);
  color: var(--darker-color);
  text-align: justify;
  text-overflow: ellipsis;
}

footer {
  height: 100px;
  width: auto;
  background-color: var(--second-color);
  text-align: center;
}

/* Woodsprites */
.woodSprite {
  position: absolute; /* relative;*/
  top: -100px;
  height: 60px;
}
