body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-style: oblique;
    margin: 50px;
    }  
header {
    height: 400px;
    width: auto;
    background-color: darkslategrey;
}
ul {
    padding: 10px;
    margin-bottom: 30px;
    list-style-type: none;
    background-color: darkslategrey;
}
li{
    display: inline;
    text-align: center;
    padding: 10px;
}

.photos {
    display: flex;
    justify-content: center;
}
.carousel {
    justify-content: center;
    height: 400px;
    width: 1000px;
    margin-top: 0px;
    margin-bottom: 30px;;
    background-color: darkslategrey;
}
.area {
    display: flex;
    justify-content: center;
}
.square {
    display: inline-block;
    text-align: center;
    background-color: darkslategrey;
    margin: 40px;
    width: 450px;
    height: 300px;
}
footer {
    height: 100px;
    width: auto;
    background-color: darkslategrey;
    text-align: center;
}


